[Unit]
Description=SolarVision Collector Service
After=network.target

[Service]
Type=simple

User=__USER__
Group=__USER__

WorkingDirectory=__INSTALL_DIR__

Environment="PATH=__INSTALL_DIR__/venv/bin"

ExecStart=__INSTALL_DIR__/venv/bin/python __INSTALL_DIR__/collector.py

Restart=always
RestartSec=5

StandardOutput=journal
StandardError=journal

# Security
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=false

[Install]
WantedBy=multi-user.target
