<!DOCTYPE html>
<html lang="tr">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SolarVision - Ayarlar</title>

    <link rel="stylesheet" href="/static/css/style.css">
	<link rel="manifest" href="/static/manifest.json">

    <meta name="theme-color" content="#08111f">

    <meta name="apple-mobile-web-app-capable" content="yes">

    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <meta name="apple-mobile-web-app-title" content="SolarVision">

</head>

<body>

<div class="container">

    <div class="card">

        <h1>⚙️ SolarVision Ayarları</h1>

    </div>

    <div class="card">

        <h2>Genel Ayarlar</h2>

        <<label>Şehir</label>

<select
    id="city"
    class="input">

    <option>Adana</option>
    <option>Adıyaman</option>
    <option>Afyonkarahisar</option>
    <option>Ağrı</option>
    <option>Aksaray</option>
    <option>Amasya</option>
    <option>Ankara</option>
    <option>Antalya</option>
    <option>Ardahan</option>
    <option>Artvin</option>
    <option>Aydın</option>
    <option>Balıkesir</option>
    <option>Bartın</option>
    <option>Batman</option>
    <option>Bayburt</option>
    <option>Bilecik</option>
    <option>Bingöl</option>
    <option>Bitlis</option>
    <option>Bolu</option>
    <option>Burdur</option>
    <option selected>Bursa</option>
    <option>Çanakkale</option>
    <option>Çankırı</option>
    <option>Çorum</option>
    <option>Denizli</option>
    <option>Diyarbakır</option>
    <option>Düzce</option>
    <option>Edirne</option>
    <option>Elazığ</option>
    <option>Erzincan</option>
    <option>Erzurum</option>
    <option>Eskişehir</option>
    <option>Gaziantep</option>
    <option>Giresun</option>
    <option>Gümüşhane</option>
    <option>Hakkâri</option>
    <option>Hatay</option>
    <option>Iğdır</option>
    <option>Isparta</option>
    <option>İstanbul</option>
    <option>İzmir</option>
    <option>Kahramanmaraş</option>
    <option>Karabük</option>
    <option>Karaman</option>
    <option>Kars</option>
    <option>Kastamonu</option>
    <option>Kayseri</option>
    <option>Kırıkkale</option>
    <option>Kırklareli</option>
    <option>Kırşehir</option>
    <option>Kilis</option>
    <option>Kocaeli</option>
    <option>Konya</option>
    <option>Kütahya</option>
    <option>Malatya</option>
    <option>Manisa</option>
    <option>Mardin</option>
    <option>Mersin</option>
    <option>Muğla</option>
    <option>Muş</option>
    <option>Nevşehir</option>
    <option>Niğde</option>
    <option>Ordu</option>
    <option>Osmaniye</option>
    <option>Rize</option>
    <option>Sakarya</option>
    <option>Samsun</option>
    <option>Siirt</option>
    <option>Sinop</option>
    <option>Sivas</option>
    <option>Şanlıurfa</option>
    <option>Şırnak</option>
    <option>Tekirdağ</option>
    <option>Tokat</option>
    <option>Trabzon</option>
    <option>Tunceli</option>
    <option>Uşak</option>
    <option>Van</option>
    <option>Yalova</option>
    <option>Yozgat</option>
    <option>Zonguldak</option>

</select>

        <br><br>

        <label>Elektrik Birim Fiyatı (TL/kWh)</label>

        <input
            id="electric_price"
            class="input"
            type="number"
            step="0.01">

        <br><br>

        <label>Dashboard Yenileme Süresi (sn)</label>

        <input
            id="refresh"
            class="input"
            type="number">

        <br><br>

        <button
            class="button"
            onclick="saveSettings()">

            💾 Kaydet

        </button>

        <a
            href="/"
            class="button secondary"
            style="text-decoration:none;display:inline-block;">

            🏠 Dashboard

        </a>

    </div>

    <div class="card">

    <h2>🖥 Sistem Durumu</h2>

    <table>

        <tr>
            <td>Collector</td>
            <td id="collector">-</td>
        </tr>

        <tr>
            <td>Gunicorn</td>
            <td id="gunicorn">-</td>
        </tr>

        <tr>
            <td>Nginx</td>
            <td id="nginx">-</td>
        </tr>

        <tr>
            <td>CPU Sıcaklığı</td>
            <td id="cpu_temp">-</td>
        </tr>

        <tr>
            <td>RAM Kullanımı</td>
            <td id="memory">-</td>
        </tr>

        <tr>
            <td>Disk Kullanımı</td>
            <td id="disk">-</td>
        </tr>

        <tr>
            <td>Python</td>
            <td id="python">-</td>
        </tr>

        <tr>
            <td>Veritabanı</td>
            <td id="database">-</td>
        </tr>

        <tr>
            <td>Uptime</td>
            <td id="uptime">-</td>
        </tr>

        <tr>
            <td>SolarVision</td>
            <td id="version">-</td>
        </tr>

    </table>

</div>


<script src="/static/js/settings.js"></script>

</body>

</html>
